[Unit]
Description=Run test_monitoring every minute

[Timer]
OnCalendar=*:0/1
Persistent=true
Unit=test_monitoring.service

[Install]
WantedBy=timers.target
