[Unit]
Description=Monitoring for process 'test'
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/test_monitoring.sh
User=root
Group=root
AmbientCapabilities=CAP_NET_RAW CAP_NET_BIND_SERVICE
